<form #loginForm="ngForm">

    <div class="inputGroup inputGroup1" style="text-align: center">
      <label>Login</label>    
    </div>
  
    <div class="inputGroup inputGroup1">
      <label for="email1">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" class="email" maxlength="256" required/>
      <p class="helper helper1">usuario@ejemplo.com</p>
      <span class="indicator"></span>
    </div>

    <div class="inputGroup inputGroup2">
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="password" required minlength="8" maxlength="16"
      />
      <div style="text-align: center">
        <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
      </div>
      <div style="text-align: center">
        <a routerLink="/nuevo-usuario">Nuevo Usuario</a>
      </div>
    </div>

    <div class="inputGroup inputGroup3">
      <button id="login" type="button" (click)="login()" >Iniciar Sesión
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </button>
  
    </div>
  
    <mat-card *ngIf="mensaje">{{mensaje}}</mat-card>
    <mat-card *ngIf="error">{{error}}</mat-card>
    
  </form>