/***************************** 
   ******** Banner ********
******************************/
.banner-container {
  height: 52.5vh;
  background: #ffd28ff5;
  padding-top: 2rem;
}
.banner-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  span {
    color: #1a1a1a;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    font-weight: 350;
    line-height: 1.3;
  }
}
