<!-- Navigation Bar -->
<nav class="nav-container">
  <div class="nav-center">
    <!-- TOP -->
    <div class="nav-top">
      <div class="nav-logo-container" routerLink="/">
        <img src="/assets/images/MyStoreLogo.png" alt="MyStore" />
      </div>
      <div class="nav-top-right">
        <div class="nav-user-container">
          <span routerLink="/login">Entrar</span>
        </div>
        <div class="nav-cart-container">
          <mat-icon>shopping_bag</mat-icon>
        </div>
      </div>
    </div>
    <!-- BOT -->
    <div class="nav-bot">
      <div class="nav-ham-container">
        <span class="material-icons" (click)="toggleSidebar()"> menu </span>
      </div>
      <div class="nav-search-container">
        <button mat-menu-item>
          <mat-icon>search</mat-icon>
          <span>Buscar</span>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<app-sidebar *ngIf="sidebarToggle"></app-sidebar>

<!-- Router Outlet -->
<div class="outlet-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer-container">
  <div class="footer-main">
    <h2>Mapa del Sitio</h2>
    <p>Categorias</p>
    <p>Productos</p>
    <p>Mi Cuenta</p>
  </div>
  <div class="footer-center">
    <div class="footer-copy">
      <h2>@ {{ currentYear }} MyStore.</h2>
    </div>
  </div>
</footer>
